h1{            font-size: 2vw;        }
h2{            font-size: 1.5vw;        }
h3{           font-size: 1.25vw;        }
h4{            font-size: 1vw;        }
h5{            font-size: 1vw;        }
h6{            font-size: 1vw;        }
p{            font-size: 1vw;        }
a{            font-size: 2vw;        }

a:link,a:visited,a:active {
  text-decoration: none; 
  color: #000;
}
a:hover{
    color:darkturquoise;
}