body {
    overflow-x: hidden;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1 {
    font-size: 2vw;
}

h2 {
    font-size: 1.5vw;
}

h3 {
    font-size: 1.25vw;
}

h4 {
    font-size: 1vw;
}

h5 {
    font-size: 1vw;
}

h6 {
    font-size: 1vw;
}

p {
    font-size: 1vw;
}

a {
    font-size: 2vw;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: darkturquoise;
}

#navbar {
    width: 100vw;
    margin-left: 0em;
    margin-top: 1.5vh;
    padding-top: 1vh;
    height: 8vh;
    overflow: auto;
    background-color: beige;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar_link  p{
    font-size: 2vw;
}

#navbar_logo {
    margin-left: 4vw;
    max-width: ;
    max-height: 8vh;
    /* height: 8vh; */
    /* width:16vw; */
}

.nav_img {
    float: left;
}

.nav_item {
    float: right;
    padding: 2vw;
}

.item_last {
    margin-right: 2vw;
}

.left_align {
    float: left;
    padding: 3vw;
    margin: inherit;
}

.right_align {
    float: right;
    padding: 3vw;
    margin: inherit;
}